* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background: black;
  color: white;
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  padding: 10px 15px 10px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidebar a:hover {
  background: white;
  color: black;
}

input {
  height: 27px;
}

.wrapper {
  background: rgb(255, 255, 255);
  margin-left: 20%;
  padding: 10px 10px;
  height: 100vh;
  width: 80%;
  color: black;
  border: solid black;
  position: fixed;
}

.information-box {
  margin-top: 10px;
  padding: 4px 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.information-box .event-name {
  align-items: center;
  justify-content: center;
}

.information-box .event-date {
  align-items: center;
  justify-content: center;
}

.information-box .buttonDel {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    background: rgb(251, 193, 245);
  }
}
.event {
  width: 100%;
}

.attendance-box {
  margin-top: 10px;
  padding: 4px 10px;
  border: 2px solid black;
  height: 100vh;
}

.ONGOING {
  font-size: 300px;
}

a {
  text-decoration: none;
  color: black;
}

.event-name:hover {
  color: blue;
}

.input-box {
  display: flex;
gap: 12px;
}